.darkened {
    background-color: black;
    img {
        opacity: 0.5;
        height: 90vh;
        @media(max-width: 1024px) and (orientation: portrait) {
            height: 50vh;
        }
        @media(max-width: 440px) and (orientation: portrait) {
            height: 40vh;
        }
    }
}

.carousel-item{
    position: relative;
}
.carousel-caption1, .carousel-caption2, .carousel-caption3 {
    position: absolute;
    color:white;
}
.carousel-caption1 h1, .carousel-caption1 h2,
.carousel-caption2 h1, .carousel-caption2 h2,
.carousel-caption3 h1, .carousel-caption3 h2 {
    @media(max-width: 850px) and (orientation: landscape) {
        font-size: 20px !important;
    }
    @media(max-width: 1024px) and (orientation: portrait) {
        font-size:30px;
    }
    @media(max-width: 600px) {
        font-size: 15px !important;
    }
    @media(max-width: 440px) and (orientation: portrait) {
        font-size: 12px !important;;
    }
}
.carousel-caption1 {
    top:45%;
    left:20%;
}
.carousel-caption2 {
    top:10%;
    left:40%;
}
.carousel-caption3 {
    top:60%;
    left:10%;
}
.consultation {
    @media(max-width:850px) {
        margin-top:15%;
    }
}
.consultation-header {
    background-color: $main-color-dark;
    color: #dbdbdb;
    text-align: center;
    h6 {
        margin:0;
        font-weight: bold;
        @media(max-width: 440px) and (orientation: portrait) {
            font-size: 10px !important;;
        }
        @media(max-width:320px) and (orientation: portrait) {
            font-size: 7px !important;
        }
    }
}
.consultation-content {
    background-color: $main-color-light;
    color: #ffffff;
    text-align: center;
    p {
        font-size: 1.2em;
        @media(max-width:850px) {
            font-size: 0.8em;
        }
        @media(max-width: 600px) {
            font-size: 0.5rem;
        }
        @media(max-width: 440px) and (orientation: portrait) {
            font-size: 0.4rem !important;
        }
        @media(max-width:320px) and (orientation: portrait) {
            font-size: 0.3rem !important;
        }
    }
}
.firmName {
    color: $main-color-light;
    font-weight: bold;
}

h1.choose-us {
    text-align: center;
    font-size: 7rem;
    font-family: 'Frijole', cursive;
    @media(max-width:850px) {
        font-size: 5rem;
    }
    @media(max-width: 600px) {
        font-size: 3rem;
    }
    @media(max-width: 320px) {
        font-size: 2rem;
    }
}
.fa-search {
    font-size:1.2rem;
}
.container {
    @media (max-width: 850px) {
        max-width:100vw !important;
        margin:0 !important;
        padding: 3% !important;
    }
}
.home-description p {
    @media(max-width: 600px) {
        font-size: 12px;
    }
    @media(max-width: 440px) and (orientation: portrait) {
        font-size: 9px;
    }
    @media(max-width:320px) and (orientation: portrait) {
        font-size:7px;
    }
}

